<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>listas v6</title>
  <script src="https:unpkg.com/vue"></script>
  <style>
    ul {
      list-style: none;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- Não recomendado utilizar o index como key -->
    <ul>
      <li v-for="(cor, i) in cores" :key="cor + i">{{i+1}}) {{cor}}</li>
    </ul>
    <button @click="cores.push('branca')">Adicionar</button>
    <hr>
    <template v-for="(cor, i) in cores">
      <h1>{{cor}}</h1>
      <p>{{i+1}}</p>
    </template>
    <hr>
    <ul>
      <li v-for="pessoa in pessoas">
        <div v-for="(valor, chave, index) in pessoa">
          {{index+1}}) {{chave}} = {{valor}}
        </div>
        <br>
      </li>
    </ul>
    <hr>
    <span v-for="n in  10"> {{n}}</span>

  </div>

</body>

</html>

<script>
  new Vue({
    el: '#app',
    data: {
      cores: ['vermelho', 'verde', 'amarelo', 'azul'],
      pessoas: [
        {
          nome: 'Ana',
          idade: 26,
          peso: 59
        },
        {
          nome: 'Guilherme',
          idade: 22,
          peso: 89
        }
      ]
    }
  })
</script>