<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Matador de Monstro</title>
  <script src="https://unpkg.com/vue"></script>
  <style>
    body,
    div {
      margin: 0;
    }
  </style>
</head>

<body>
  <div id="desafio">
    <div :style="panel">
      <div :style="creature">
        <h1>Jogador</h1>
        <div :style="[bar]">
          <div :style="[playerLife]"></div>
          <div :style="[damage]"></div>
        </div>
        <span>{{pLife}}%</span>
      </div>
      <div :style="creature">
        <h1>Monstro</h1>
        <div :style="[bar]">
          <div :style="[monsterLife]"></div>
          <div :style="[damage]"></div>
        </div>
        <span>{{mLife}}%</span>
      </div>
    </div>
    <div :style="actions" v-if="!gameOver">
      <div>
        <button :style="[button, red]" @click="ataque">ATAQUE</button>
        <button :style="[button, orange]" @click="ataEspecial">ATAQUE ESPECIAL</button>
        <button :style="[button, green]" @CLICK="curar">CURAR</button>
        <button :style="[button, grey]" @click="sair">SAIR</button>
      </div>
    </div>
    <div :style="final" v-else>
      <h1>{{gameOver}}</h1>
      <button :style="[button, blue]" @click="newGame">Iniciar novo jogo</button>
    </div>
    <ul :style="log">
      <li :style="logRow" v-for="(log, i) in logs" :key="i + log">
        <span :style="[(i % 2 === 0 ) ? blue : red, logContent]">{{log}}</span>
      </li>
    </ul>
  </div>

</body>

</html>
<script src="app.js"></script>